/* CSS for GitBook */

.markdown-section h1 {
    font-size: 1.8em;
}

.markdown-section h2 {
    font-size: 1.6em;
}

.markdown-section h3 {
    font-size: 1.5em;
}

.markdown-section h4 {
    font-size: 1.4em;
}

.markdown-section p {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    color: #333;
    line-height: 1.7;
    font-size: 1.4rem;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.markdown-section table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    font-size: 1.4rem;
}

.book-summary ul.summary li a:hover {
    text-decoration: none;
    background-color: #eee;
}

.book-summary ul.summary li.active>a {
    color: #333;
    background: 0 0;
    text-decoration: none;
    background-color: #cad3d9;
    font-weight: 600;
}

.localized-footer {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    background-color: #eee;
    color: #444;
    font-size: 1.4rem;
    padding: 20px 20px 10px 10px;
}
